In [1]:
# pip install mysql-connector-python
import mysql.connector

file = open("password", 'r')
pswrd = file.read()
file.close()

conn = mysql.connector.connect(host="localhost", username="root", password = pswrd, database = "k20sd")
if conn.is_connected():
    print("Connected")

cur = conn.cursor()
cur.execute("CREATE DATABASE IF NOT EXISTS k20sd;")
cur.execute("SHOW DATABASES;")
for row in cur.fetchall():
    print(row)


cur.execute("CREATE TABLE IF NOT EXISTS students (" + \
            "id int auto_increment primary key," + \
            "name varchar(20) not null," + \
            "roll_no int not null " +\
            ");")

cur.execute("SHOW TABLES;")
print(cur.fetchone())

cur.execute("DESCRIBE students;")
for row in cur.fetchall():
    print(row)

Connected
('information_schema',)
('k20sd',)
('mysql',)
('performance_schema',)
('sys',)
('testingbase',)
('students',)
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(20)', 'NO', '', None, '')
('roll_no', b'int', 'NO', '', None, '')
('phone', b'varchar(10)', 'YES', '', None, '')

In [1]:
import mysql.connector

file = open("password",'r')
pswrd = file.read()
file.close()

conn = mysql.connector.connect(host = "localhost", user="root", database = "k20sd", password = pswrd)

cur = conn.cursor()
cur.execute("ALTER TABLE students ADD location varchar(10);")
cur.close()
conn.close()

ProgrammingError: 1060 (42S21): Duplicate column name 'location'

In [2]:
import mysql.connector

file = open("password", 'r')
pswrd = file.read()
file.close()

conn = mysql.connector.connect(host = "localhost", user = "root", database = "k20sd", password = pswrd)
cur = conn.cursor()
cur.execute("SHOW TABLES;")
for row in cur.fetchall():
    print(row)

print()
cur.execute("DESCRIBE students;")
for row in cur.fetchall():
    print(row)

('students',)

('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(20)', 'NO', '', None, '')
('roll_no', b'int', 'NO', '', None, '')
('phone', b'varchar(10)', 'YES', '', None, '')
('location', b'varchar(10)', 'YES', '', None, '')

In [18]:
import mysql.connector

file = open("password", 'r')
pswrd = file.read()
file.close()

conn = mysql.connector.connect(host = "localhost", user = "root", database = "k20sd", password = pswrd)
cur = conn.cursor()

# query = '''INSERT INTO students values 
# (255, 'Michael', 48, '3434435465', 'abcd');'''

# cur.execute(query)
# conn.commit()


# inserting multiple values
query = "INSERT INTO students(id, name, roll_no, phone, location) values(%s,%s,%s,%s,%s)"
values = [(45,"fury", 32, "1236547852","abcd"), (42,"Floyd", 32, "1215547852","abcd")]


# print(query%values[0])
cur.executemany(query, values)
conn.commit()

In [32]:
import mysql.connector

file = open("password", 'r')
pswrd = file.read()
file.close()

conn = mysql.connector.connect(host = "localhost", user = "root", database = "k20sd", password = pswrd)
cur = conn.cursor()

cur.execute("SELECT * from students;")
for row in cur.fetchall():
    print(row)

print()

cur.execute("SELECT name, roll_no from students;")
for row in cur.fetchmany(2):            # fetchmany(number) will fetch only specified number of results 
    print(row)

# cleaning the buffers
empty = cur.fetchall()

print()
cur.execute("SELECT * from students;")
print(cur.fetchone())

(42, 'Floyd', 32, '1215547852', 'abcd')
(45, 'fury', 32, '1236547852', 'abcd')
(255, 'Michael', 48, '3434435465', 'abcd')

('Floyd', 32)
('fury', 32)

(42, 'Floyd', 32, '1215547852', 'abcd')