In [1]:
# pip install mysql-connector-python
import mysql.connector

file = open("password", 'r')
pswrd = file.read()
file.close()

conn = mysql.connector.connect(host="localhost", username="root", password = pswrd, database = "k20sd")
if conn.is_connected():
    print("Connected")

cur = conn.cursor()
cur.execute("CREATE DATABASE IF NOT EXISTS k20sd;")
cur.execute("SHOW DATABASES;")
for row in cur.fetchall():
    print(row)


cur.execute("CREATE TABLE IF NOT EXISTS students (" + \
            "id int auto_increment primary key," + \
            "name varchar(20) not null," + \
            "roll_no int not null " +\
            ");")

cur.execute("SHOW TABLES;")
print(cur.fetchone())

cur.execute("DESCRIBE students;")
for row in cur.fetchall():
    print(row)

In [ ]:
# cur.execute("ALTER TABLE chetan ADD COLUMN id INT PRIMARY KEY AUTO_INCREMENT")